/*
 *= require_tree .
 *= require_self
 */
 
 body {
  background-color:#FFCCFF;
}


 a.title {
  color:red;
  font-size:100px;
  display:block;
  text-align:center;
}

div.title2  {
  display:block;
  font-size:100px;
  text-align:center;
}