<header>
        <a class="title" href="/">アプリ名
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class=title2>
          <button class="btn btn-default btn-lg" type="submit"><%= link_to '新規登録', signup_path %></button>
          <button class="btn btn-default btn-lg" type="submit"><%= link_to 'ログイン', login_path %></button>
        </div>
      </div>
</header>